.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  
  .modal_opened {
    visibility: yes;
  }
  
  .modal__title {
    margin: 0;
  }
  
  .modal__close {
    position: absolute;
    top: 20px;
    right: 28px;
  
  }
  
  .modal__content {
    background-color: #fff;
    position: relative;
    padding: 28px 28px 36px;
    max-width: 496px;
    box-sizing: border-box;
    width: 100%; 
  }
  
  .modal__form {
    display: flex;
    flex-direction: column;
  }
  
  .modal__input {
    display: block;
  }
  
  .modal__radio-buttons {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }