.modal__submit {
  width: 124px;
  height: 36px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0);
  margin-top: 32px;
}

.modal__submit:hover {
  opacity: 60%;
  cursor: pointer;
}

.modal__submit_disabled {
  opacity: 30%;
}