.card {
  width: 323px;
  height: 326px;
  border-radius: 12px;
  border-color: rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__content {
  display: flex;
  gap: 4px;
  top: 10px;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.card__name {
  top: 15px;
  margin: 0;
  width: 73px;
  height: 24px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.card__image {
  width: 325px;
  height: 328px;
  width: 100%;
  height: 100%;  
  border-radius: 12px;
  object-fit: cover;
}

.card__like-btn {
  background-image: url("../../assets/ClearLike.svg");
  background-size: cover;
  background-repeat: no-repeat;  
  background-color: transparent;
  width: 18px;
  height: 15px;
  border: none;
  cursor: pointer;
  top: 15px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__like-btn.liked {
  background-image: url("../../assets/FilledLike.svg");
}