.weather-card {
    position: relative;
    display: flex;
    height: 80px;
    border-radius: 12px;
    overflow: hidden;
}

.weather-card__image {
    width: 100%;
    object-fit: cover;
    object-position: right top;
}

.weather-card__temp {
    color: rgba(255, 255, 255, 1);
    font-family: "Cabinet Grotesk Bold";
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 16px;
}