.cards__text {
    font-family: "Cabinet Grotesk Bold";
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.cards__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 21px;
}