.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-top: 85px;
}

.footer__name {
  margin: 0;
  font-family: "Cabinet Grotesk Medium";
  margin-left: 40px;
}

.footer__year {
  margin: 0;
  font-family: "Cabinet Grotesk Medium";
  margin-right: 40px;
}