.clothes-section__title-button {
    display: flex;
    margin-bottom: 16px;
}

.clothes-section__title {
    font-family: "Cabinet Grotesk Bold";
    font-size: 20px;
    font-weight: 700;
    width: 94px;
    height: 25px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.clothes-section__button {
    font-family: "Cabinet Grotesk Bold";
    font-size: 20px;
    font-weight: 700;
    width: 88px;
    height: 25px;
    color: rgba(0, 0, 0, 0.6);
    background: none;
    border: none;
    padding: 0;
    margin-left: 20px;
}

.clothes-section__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 21px;
}