.clothesSection {
  box-sizing: border-box;
  margin-left: 116px;
}
.clothesSection__controls {
  display: flex;
  margin: 0 auto;
}

.clothesSection__items {
  margin: 0;
  font-weight: 700;
  line-height: 24.8px;
  font-size: 20px;
  margin-right: 20px;
}

.clothesSection__btn {
  border: none;
  font-weight: 700;
  line-height: 24.8px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.clothesSection__lists .cards__list {
  margin: 0;
}

.clothesSection__lists {
  width: 100%;
  margin-top: 16px;
  gap: 20px;
}