@font-face {
    font-family: "Cabinet Grotesk Medium";
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/CabinetGrotesk-Medium.otf')format("opentype");
}

@font-face {
    font-family: "Cabinet Grotesk Bold";
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/CabinetGrotesk-Bold.otf')format("opentype");
}